router id {{ bgp.router_id }};

protocol kernel {
	scan time 60;
	import none;
	export all;
}

protocol device {
	scan time 60;
}

protocol direct {
	interface "ipsec*";
}

{% for neighbor in bgp.neighbors %}
# link to {{ neighbor.name }}
protocol bgp {
	import all;
	export all;
	local as {{ bgp.as }};
	neighbor {{ neighbor.address }} as {{ neighbor.as }};
}
{% endfor %}
